<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout_owner :: layout (~{::body},'owners')}">
    <body>

        <style>

            .style-img{
                width:100%;
                height:35%;
                margin-left: 17%;
            }

            .btn{
                width: 100%;
                height: 30px;
                outline: none !important;
                border: none;
                border-radius: 20px;
                color: white;
                background-color: #29B6F6 !important;
            }

        </style>

        <div style="display:flex; width: 100%; height: 80vh;" >
            <div class="col-xs-10 col-sm-8 col-md-8 col-lg-5" style="margin:auto;">
                <div style="display:flex"><h1 style="width:100%; text-align: center; margin-top: 20px; margin-left: 50px" >Información Owner</h1></div> 
                <br>
                <form th:object="${pet}" class="form-horizontal" id="add-owner-form" method="post" enctype="multipart/form-data">
                    <div class="form-group has-feedback">
                        <div style="display:flex; width: 100%;">
                            <div style="margin:auto; width:200px;">
                                <img class="style-img" th:src="'/resources/images/placeholder.png'" alt="myImage"/>
                                <input 
                                    type="file" value="Seleccionar archivo" name="file" style="margin-left: 38px;margin-top: 38px;"/><br>
                            </div>
                        </div>

                        <input 
                            th:replace="~{fragments/inputField :: input (#{fn}, 'owner.firstName', 'text_required')}" />
                        <input
                            th:replace="~{fragments/inputField :: input (#{ln}, 'owner.lastName', 'text_required')}" />
                        <input
                            th:replace="~{fragments/inputField :: input (#{ad}, 'owner.address', 'text_required')}" />
                        <input
                            th:replace="~{fragments/inputField :: input (#{cd}, 'owner.city', 'text_required')}" />
                        <input
                            th:replace="~{fragments/inputField :: input (#{tf}, 'owner.telephone', 'number')}" />
                        <input
                            th:replace="~{fragments/inputField :: input ('Email', 'owner.user.email', 'email')}" />
                        <input
                            th:replace="~{fragments/inputField :: input ('Contraseña', 'owner.user.password', 'password')}" />
                        <h1 style="width:100%; text-align: center; margin-top: 20px; margin-left: 50px" >Información de tu mascota  </h1>
                        <input
                            th:replace="~{fragments/inputField :: input (#{fn}, 'name', 'text_required')}" />
                        <input 
                            th:replace="~{fragments/inputField :: input (#{bd}, 'birthDate', 'date')}" />
                        <input
                            th:replace="~{fragments/selectField :: select (#{ty}, 'type', ${types})}" />
                        
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="btn"
                                    th:with="text=${pet['new']} ? #{ao} : #{uo}"
                                    class="btn" type="submit" th:text="${text}">Add
                                Owner</button>
                        </div>
                    </div>

                    <div id='map' style='width: 700px; height: 500px;'>
                        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
                        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
                        <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
                        <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />
                        <script src='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.js'></script>
                        <link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/plugins/mapbox-directions.js/v0.4.0/mapbox.directions.css' type='text/css' />
                        <style>
                            #geocoder-container > div {
                                min-width:100%;
                                /*margin-left:25%;*/
                            }
                            #longitud, #latitud{
                                visibility: hidden;
                            }
                            .glyphicon{
                                visibility: hidden;
                            }
                        </style>
                        <div id='map'></div>

                        <script>
                            mapboxgl.accessToken = 'pk.eyJ1IjoiZWRkcmFyaSIsImEiOiJjanJhd3ZuemMwd2M4NDRwbmg4YTF3aGtkIn0.KfY8ewzvjmJaJa-WgHILIA';
                            var coordinates = document.getElementById('coordinates');

                            var updateOrNew = document.getElementById("btn").textContent;

                            if(updateOrNew=="Actualizar Dueño"){
                            lat = document.getElementById('latitud').value;
                            long = document.getElementById('longitud').value;
                            var map = new mapboxgl.Map({
                            container: 'map',
                            style: 'mapbox://styles/mapbox/streets-v9',
                            center: [long, lat],
                            zoom: 16
                            });
                            var geojson = {
                            "type": "FeatureCollection",
                            "features": [{
                            "type": "Feature",
                            "geometry": {
                            "type": "Point",
                            "coordinates": [long, lat]
                            }
                            }]
                            }
                            }else{
                            var map = new mapboxgl.Map({
                            container: 'map',
                            style: 'mapbox://styles/mapbox/streets-v9',
                            center: [-102, 24],
                            zoom: 4
                            });
                            var geojson = {
                            "type": "FeatureCollection",
                            "features": [{
                            "type": "Feature",
                            "geometry": {
                            "type": "Point",
                            "coordinates": [0, 0]
                            }
                            }]
                            }
                            }

                            var canvas = map.getCanvasContainer();

                            var geocoder = new MapboxGeocoder({
                            accessToken: mapboxgl.accessToken
                            });

                            map.addControl(geocoder);

                            map.addControl(new mapboxgl.NavigationControl());

                            function onMove(e) {
                            var coords = e.lngLat;

                            // Set a UI indicator for dragging.
                            canvas.style.cursor = 'grabbing';

                            // Update the Point feature in `geojson` coordinates
                            // and call setData to the source layer `point` on it.
                            geojson.features[0].geometry.coordinates = [coords.lng, coords.lat];
                            map.getSource('point').setData(geojson);
                            }

                            function onUp(e) {
                            var coords = e.lngLat;

                            // Print the coordinates of where the point had
                            // finished being dragged to on the map.
                            //coordinates.style.display = 'block';
                            //coordinates.innerHTML = 'Longitude: ' + coords.lng + '<br />Latitude: ' + coords.lat;
                            canvas.style.cursor = '';

                            var url = "https://api.mapbox.com/geocoding/v5/mapbox.places/"+coords.lng+","+coords.lat+".json?access_token=pk.eyJ1IjoiZWRkcmFyaSIsImEiOiJjanJhd3ZuemMwd2M4NDRwbmg4YTF3aGtkIn0.KfY8ewzvjmJaJa-WgHILIA";

                            var xmlhttp = new XMLHttpRequest();
                            xmlhttp.open('GET', url, false);
                            xmlhttp.send();
                            var jsonResponse = JSON.parse(xmlhttp.responseText);

                            var direccion = jsonResponse.features[0].text;
                            var city = jsonResponse.features[1].text;
                            console.log(direccion);
                            console.log(city);

                            document.getElementById('address').value=direccion;
                            document.getElementById('city').value=city;

                            document.getElementById('latitud').value=coords.lat;
                            document.getElementById('longitud').value=coords.lng;

                            // Unbind mouse/touch events
                            map.off('mousemove', onMove);
                            map.off('touchmove', onMove);
                            }
                            map.on('load', function() {
                            map.addSource('point', {
                            "type": "geojson",
                            "data": geojson
                            });
                            map.addLayer({
                            "id": "point",
                            "source": "point",
                            "type": "circle",
                            "paint": {
                            "circle-radius": 10,
                            "circle-color": "#ff0000"
                            }
                            });

                            map.on('mouseenter', 'point', function() {
                            map.setPaintProperty('point', 'circle-color', '#3bb2d0');
                            canvas.style.cursor = 'move';
                            });

                            map.on('mouseleave', 'point', function() {
                            map.setPaintProperty('point', 'circle-color', '#3887be');
                            canvas.style.cursor = '';
                            });

                            map.on('mousedown', 'point', function(e) {
                            // Prevent the default map drag behavior.
                            e.preventDefault();

                            canvas.style.cursor = 'grab';

                            map.on('mousemove', onMove);
                            map.once('mouseup', onUp);
                            });

                            map.on('touchstart', 'point', function(e) {
                            if (e.points.length !== 1) return;

                            // Prevent the default map drag behavior.
                            e.preventDefault();
                            map.on('touchmove', onMove);
                            map.once('touchend', onUp);
                            });

                            geocoder.on('result', function(ev) {
                            map.getSource('point').setData(ev.result.geometry);
                            });
                            });   
                        </script>
                    </div>
                    <input
                        th:replace="~{fragments/inputField :: input (' ', 'owner.latitud', 'text')}" />
                    <input
                        th:replace="~{fragments/inputField :: input (' ', 'owner.longitud', 'text')}" />
                </form>
            </div>
        </div>
    </body>
</html>
